@{
    Layout = "_Dashboard";
    @using Webapp.UI.Models
    @model OrderHistoryCustomer;
    ViewData["Title"] = "Dashboard";
}

<h1>Welcome Back @ViewData["Customer Name"]</h1>
<a asp-controller="Dashboard"
   asp-action="NewOrder"
   asp-route-id=@ViewData["Customer ID"]
   class="btn btn-primary btn-lg">
    New Order
</a>


<h2 class="sub-header">Order History</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Location</th>
                <th>Order Number</th>
                <th>Cost Amount</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.OrderHistory)
            {
                <tr>
                    <td> @Model.LocationName </td>
                    <td> @order.Id </td>
                    <td> @order.Sale </td>
                    <td> @order.Date </td>
                    <td>
                        <a asp-controller="Dashboard"
                           asp-action="OrderDetails"
                           asp-route-orderid="@order.Id"
                           asp-route-id="@ViewData["Customer ID"]">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@* Add table with order history here *@